html{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fff5eb;
    margin: 0px;
}
h2{
    color: #006601;
}
.navbar{
    overflow: hidden;
    background-color: #39B54A;
    position: fixed;
    border-bottom: 3px solid #068206;
    top: 0;
    left: 0;
    height: 105px;
    width: 100%;
    font-size: 1.2rem;
}
.navbar img{
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 75px;
    height: 80px;
}
.navbar a{
    color: #006601;
    float: right;
    display: block;
    padding: 5px;
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #50d561;
    color: #002a01;
}
.highlight{
    position: relative;
    margin-top: 107px;
    height: 300px;
    width: 100%;
}
.bg-image{
    position: absolute;
    top: 0;
    background-image: url(./assets/images/garden2.jpeg);
    filter: blur(8px);
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    transform: scale(1.05);
    height: 300px;
    width: 100%;
    z-index: -1;
}
.highlight-text{
    color: #006601;
    position: relative;
    top: 120px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 80px;
    border-radius: 10px;
}
.highlight-text p{
    margin: 0px;
    font-size: 1.75rem;
    font-weight: 600;
}
.highlight-text a{
    font-size: 1.25rem;
    text-decoration: none;
    background-color: #006601;
    color: #50d561;
    margin-top: 3px;
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
}
.main{
    margin: 150px;
    margin-top: 90px;
    height: 4000px;
    font-size: 1.2rem;
}
.main img{
    display: block;
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.main-services{
    margin-top: 100px;
    text-align: center;
}
.main-services ul{
    list-style: none;
    padding: 0px;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 50px;
}
.main-services li{
    margin-bottom: 10px;
}
/* ^ NAVIGATION BAR ^ */
@media (min-width: 750px) {
    .dropdown{
        display: none;
    }
}

@media (max-width: 750px) {
    .navbar{
        display: none;
    }
    .dropdown {
        overflow: hidden;
        background-color:#39B54A;
        position: fixed;
        border-bottom: 3px solid #068206;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 1.5rem;
    }
    .dropdown:hover{
        height: 336px;
        border-bottom: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .dropdown img{
        display: block;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    .dropbtn {
        background-color: #39B54A; 
        color: #006601;
        display: block;
        padding: 5px;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
    }
    .dropdown-content {
        background-color: #50d561;
        position: absolute;
        width: 100%;
        border-radius: 10px;
    }
    .dropdown-content a {
        float: none;
        display: block;
        color: #006601;
        border-radius: 6px;
        padding: 5px;
        text-decoration: none;
        text-align: center;
    }
    .dropdown-content a:hover {
        background-color: #5ee370;
        color: #002a01;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .highlight{
        margin-top: 149px;
        height: 180px;
    }
    .highlight-text{
        top: 60px;
        height: 60px;
    }
    .highlight-text p{
        margin: 0px;
        font-size: 1.5rem;
    }
    .highlight-text a{
        font-size: 1.25rem;
    }
    .bg-image{
        height: 180px;
    }
    .main{
        margin: 50px;
    }
    .main img{
        height: 200px;
        width: 200px;
    }
}

